* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-gridSize {
    background-color: #333;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 16px;
}

#container {
    display: flex;
    flex-direction: row;
    width: 960px;
    flex-wrap: wrap;
    margin: 3rem auto;
}

.tile {
    width: 60px;
    height: 60px;
    background-color: white;
    border: 1px solid black;
}